<!DOCTYPE html>
<html lang="en">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
 
    $(function() {
        $('textarea').on('keydown', function(event) {
            if (event.keyCode == 13)
                if (!event.shiftKey){
                    event.preventDefault();
                    $('#input').submit();
                }
        });
        
        $('#input').on('submit', function() {
            button_click();
        });
        
        function button_click() {
            return;
        }
    });
    </script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WordCount!</h1>
    <form id="input" action={% url 'result' %} method="GET">
        <textarea name="text" cols="30" rows="20" onkeydown="javascript:if(event.keyCode = 13)enterkey()"></textarea>
        <br>
        <button type="submit" onclick="button_click();">submit</button>
    </form>
    <br>
    <a href={% url 'about' %}>about</a>
</body>
<style>
    body{
        background-color: #ffffe0;
        text-align: center;
    }
</style>
</html>
